body {
    font-family: 'Roboto Mono', monospace;
    min-height: 600px;
    background-color: #000000;
    background-size: cover;
    justify-content: space-between;
    margin: 30%;
}
.title {
    display: inline-block;
    color: #000000;
    text-align: center;
    font-size: 100;
    color: yellow;
}
.answer-box {
    width: 180px;
    height: 360px;
    padding: 10px;
    display: inline-block;
    text-align: center;
    align-content: space-between;
    font-size: 60;
    color: yellow;
    border: solid 2px yellow;
    border-radius: 24px;    
}
.answer-box-container, .answer-box-p {
    text-align: center;
    align-self: center;
    padding: 20px;
    height: 100px;
    max-width: 300px;
    color: yellow;
    border: solid 2px yellow;
    border-radius: 14px;
}
.thanks {
    position: bottom;
    text-align: center;
    color: yellow;
    padding: 30px;        
}